{% extends 'base.html' %}
{% block content %}
<head>
<style>
form {
    margin:60px;
    margin-left:150px;
}
form > p {
    color:red;
}
</style>
</head>
<body>
    {% if user.is_anonymous %}
    <script>
        alert('글을 쓰시려면 로그인을 해야 됩니다.')
        document.location.href = '/account/signin';
    </script>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token%}
        <p>* 사진 첨부 필수!</p>
                <table>
                    {{form.as_table}}
                </table> 
        <br>
        <input style="float:right; margin-right:30px;" class="btn btn-dark" type="submit" value="제출">
        <br>
    </form>
</body>
{% endblock %}
